/* 
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Special Elite', cursive;
*/

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
}

#mainBody {
  /* background: #b2def7; */
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #e6e8e1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%2331ea15' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

#final {
  font-family: "Special Elite", cursive;
  font-size: 15px;
  background: #ffe5d3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#buttonRow {
  margin-top: 10px;
}

#footer {
  margin-top: 20px;
}

#header img {
  float: left;
}

#header h1 {
  position: relative;
  left: 13px;
}

img {
  max-width: 80%;
  height: auto;
}

#finalResults {
  background-color: #e6ffff;
  font-family: "Special Elite", cursive;
  font-size: 15px;
}

#resultBody {
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 12vw;
  padding-right: 12vw;
}