/* 
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Special Elite', cursive;
*/ 

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
}

body {
  /* background: #b2def7; */
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

#final {
  font-family: 'Special Elite', cursive;  
  font-size: 15px;
  background: #ffe5d3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px  ;
}

#buttonRow {
  margin-top: 10px;
}


#footer {
  margin-top: 20px;
}

#header img {
  float: left;
}

#header h1 {
  position: relative;
  left: 13px;
}

img {
  max-width: 80%;
  height: auto;
}
